#                                               DIGIT RECOGNIZER

In this notebook i am using MNIST data set to classify the handwritten digits. I am not using a CNN but using a simple classfication algorithm.

In [1]:
# loading the libraries needed
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split

/home/suchith/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Loading the data

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In the train data the first column is label and each image is 28*28 pixel by pixel image. Then from 2nd column to last column that is 784 columns represent the pixel values of each image. 
There are totally 42000 images in the train data set.

In [3]:
train.shape

(42000, 785)

In [4]:
train.head(10)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

The test data is same but only the label column is not present. the size of test is 28000

In [5]:
test.shape

(28000, 784)

In [6]:
test.head(10)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [69]:
# to ensure that there are no null values in the data set
train.isnull().sum().any()

False

## My plan is to take the train data and use pca to reduce the dimensions and then use logistic regression to classify the images

In [74]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
X=np.array(train)
(m,n)=X.shape
y=X[:,0:1]
X=X[:,1:]
n=n-1
print(X.shape,y.shape)

(42000, 784) (42000, 1)

Now it's time to implement PCA on this data set. I have to decide the number of components. here i am taking 150,200,100 as first try and we will also how much variance is retained for selecting number of components

In [76]:
# we can find directly the covariance matrix of X_train which will do the normalization and everything...
X_cov_train=np.cov(X.T)
u,s,v=np.linalg.svd(X_cov_train)

In [77]:
print(u.shape,s.shape,v.shape)

(784, 784) (784,) (784, 784)

In [78]:
# we can calculate varaince retained in all case
k=[50,100,150,200,210,220,300,400,500,784]
s=s.reshape(1,s.size)
t=np.sum(s)
for i in k:
    g=np.sum(s[:,0:i])
    var=(g/t)*100
    print(i,var)

50 82.555225918
100 91.5039316031
150 94.8598486623
200 96.6613255789
210 96.9295297893
220 97.1789769581
300 98.6317401216
400 99.5853764232
500 99.9257438816
784 100.0

I am selecting number of components as 200

In [112]:
ureduce=u[:,0:200]
print(ureduce.shape)
# with 200 i got 91.3 so now i am seleccting 300
ureduce1=u[:,0:300]
print(ureduce1.shape)
ureduce2=u[:,0:150]
print(ureduce2.shape)

(784, 200)
(784, 300)
(784, 150)

Now we got the matrix we have to just reduce the dimesions of the data

In [113]:
X_red=np.dot(X,ureduce)
print(X.shape,X_red.shape)
X_red1=np.dot(X,ureduce1)
print(X_red1.shape)
X_red2=np.dot(X,ureduce2)
print(X_red2.shape)

(42000, 784) (42000, 200)
(42000, 300)
(42000, 150)

# Logistic Regression with no pca

Splitting the data set to training set and cross validation set

In [16]:
X_train,X_cross,y_train,y_cross=train_test_split(X,y,test_size=0.33)

In [51]:
print(X_train.shape,y_train.shape,y_cross.shape,X_cross.shape)

(28140, 784) (28140,) (13860,) (13860, 784)

Now its time to implement logistic regression on this data

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [20]:
y_train=y_train.reshape(y_train.size,)
y_cross=y_cross.reshape(y_cross.size,)
print(y_train.shape,y_cross.shape)

(28140,) (13860,)

For implementing logistic regression using scikit learn we dont need add ones to X and shape of y must be (n,)

In [21]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

train_score=lr.score(X_train,y_train)
print(train_score)

0.94829424307

In [25]:
cross_score=lr.score(X_cross,y_cross)
print(cross_score)

0.899639249639

In [26]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
X_test=np.array(test)
print(X_test.shape)

(28000, 784)

In [37]:
y_test_pred=lr.predict(X_test)
y_test_pred.shape=(28000,1)
print(y_test_pred.shape)

(28000, 1)

In [36]:
imageid=np.linspace(1,28000,28000).reshape(28000,1)
print(imageid.shape)

(28000, 1)

In [43]:
ans=np.hstack((imageid,y_test_pred))
print(ans.shape)

(28000, 2)

In [44]:
ans=pd.DataFrame(ans,columns=['ImageId','Label'])
ans.head()

   ImageId  Label
0      1.0    2.0
1      2.0    0.0
2      3.0    9.0
3      4.0    7.0
4      5.0    3.0

In [47]:
ans['ImageId']=ans['ImageId'].astype(int)
ans['Label']=ans['Label'].astype(int)
ans.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      7
4        5      3

In [48]:
ans.to_csv("pred_logis_no_pca.csv",index=False)        # got 89.3 nearly same as error on cross validation set...

# Logistic Regression with pca

## With 200 Components

In [52]:
X_train,X_cross,y_train,y_cross=train_test_split(X_red,y,test_size=0.33)

In [53]:
print(X_train.shape,y_train.shape,X_cross.shape,y_cross.shape)

(28140, 200) (28140, 1) (13860, 200) (13860, 1)

In [54]:
y_train=y_train.reshape(y_train.size,)
y_cross=y_cross.reshape(y_cross.size,)
print(y_train.shape,y_cross.shape)

(28140,) (13860,)

In [55]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

train_score=lr.score(X_train,y_train)
print(train_score)

0.924555792466

In [56]:
cross_score=lr.score(X_cross,y_cross)
print(cross_score)

0.916305916306

In [58]:
X_test.shape

(28000, 784)

In [60]:
X_test_red=np.dot(X_test,ureduce)
print(X_test_red.shape)

(28000, 200)

In [61]:
y_test_pred=lr.predict(X_test_red)
y_test_pred.shape=(28000,1)
print(y_test_pred.shape)

(28000, 1)

In [63]:
ans1=np.hstack((imageid,y_test_pred))
print(ans1.shape)

(28000, 2)

In [64]:
ans1=pd.DataFrame(ans1,columns=['ImageId','Label'])
ans1.head()

   ImageId  Label
0      1.0    2.0
1      2.0    0.0
2      3.0    9.0
3      4.0    7.0
4      5.0    3.0

In [65]:
ans1['ImageId']=ans1['ImageId'].astype(int)
ans1['Label']=ans1['Label'].astype(int)
ans1.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      7
4        5      3

In [66]:
ans1.to_csv("pred_logis_pca.csv",index=False)        # got 91.3% nearly same as error on cross validation set...

## With 300 Components

In [84]:
X_train,X_cross,y_train,y_cross=train_test_split(X_red1,y,test_size=0.33)

In [85]:
print(X_train.shape,y_train.shape,X_cross.shape,y_cross.shape)

(28140, 300) (28140, 1) (13860, 300) (13860, 1)

In [86]:
y_train=y_train.reshape(y_train.size,)
y_cross=y_cross.reshape(y_cross.size,)
print(y_train.shape,y_cross.shape)

(28140,) (13860,)

In [87]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

train_score=lr.score(X_train,y_train)
print(train_score)

0.92828713575

In [88]:
cross_score=lr.score(X_cross,y_cross)
print(cross_score)

0.91645021645

In [90]:
X_test_red1=np.dot(X_test,ureduce1)
print(X_test_red1.shape)

(28000, 300)

In [91]:
y_test_pred1=lr.predict(X_test_red1)
y_test_pred1.shape=(28000,1)
print(y_test_pred1.shape)

(28000, 1)

In [92]:
ans2=np.hstack((imageid,y_test_pred))
print(ans2.shape)

(28000, 2)

In [93]:
ans2=pd.DataFrame(ans2,columns=['ImageId','Label'])
ans2.head()

   ImageId  Label
0      1.0    2.0
1      2.0    0.0
2      3.0    9.0
3      4.0    7.0
4      5.0    3.0

In [94]:
ans2['ImageId']=ans2['ImageId'].astype(int)
ans2['Label']=ans2['Label'].astype(int)
ans2.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      7
4        5      3

In [95]:
ans2.to_csv("pred_logis_pca_300.csv",index=False)        # got 91.3% nearly same as error on cross validation set...
                                                        # with 300 also it has not changed much

## Pca with 200 components and some features

In [96]:
# we have the matrix for 200 components 
X_red.shape

(42000, 200)

We take features as x,x^2

In [98]:
X_red_f=np.hstack((X_red,X_red**2))
print(X_red_f.shape)

(42000, 400)

In [99]:
X_train,X_cross,y_train,y_cross=train_test_split(X_red_f,y,test_size=0.33)

In [101]:
print(X_train.shape,y_train.shape,y_cross.shape,X_cross.shape)

(28140, 400) (28140, 1) (13860, 1) (13860, 400)

In [102]:
y_train=y_train.reshape(y_train.size,)
y_cross=y_cross.reshape(y_cross.size,)
print(y_train.shape,y_cross.shape)

(28140,) (13860,)

In [103]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

train_score=lr.score(X_train,y_train)
print(train_score)

0.913717128643

In [104]:
cross_score=lr.score(X_cross,y_cross)
print(cross_score)

0.903751803752

In [105]:
X_red_test.shape

(28000, 200)

In [106]:
X_red_test2=np.hstack((X_red_test,X_red_test**2))
print(X_red_test2.shape)

(28000, 400)

In [108]:
y_test_pred2=lr.predict(X_red_test2)
y_test_pred2.shape=(28000,1)
print(y_test_pred2.shape)

(28000, 1)

In [110]:
ans3=np.hstack((imageid,y_test_pred2))
ans3=pd.DataFrame(ans3,columns=['ImageId','Label'])
ans3['ImageId']=ans3['ImageId'].astype(int)
ans3['Label']=ans3['Label'].astype(int)
ans3.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [111]:
ans3.to_csv("pred_logis_pca_200_feat.csv",index=False)           #got 90.242 accuracy with 200

## 150 component and features

In [114]:
# we have the matrix for 150 components 
X_red2.shape

(42000, 150)

In [115]:
X_red2_f=np.hstack((X_red2,X_red2**2))
print(X_red2_f.shape)

(42000, 300)

In [116]:
X_train,X_cross,y_train,y_cross=train_test_split(X_red2_f,y,test_size=0.33)

In [117]:
print(X_train.shape,y_train.shape,y_cross.shape,X_cross.shape)

(28140, 300) (28140, 1) (13860, 1) (13860, 300)

In [118]:
y_train=y_train.reshape(y_train.size,)
y_cross=y_cross.reshape(y_cross.size,)
print(y_train.shape,y_cross.shape)

(28140,) (13860,)

In [119]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

train_score=lr.score(X_train,y_train)
print(train_score)

0.909239516702

In [121]:
X_test_red3=np.dot(X_test,ureduce2)
print(X_test_red3.shape)

(28000, 150)

In [123]:
X_red_test3=np.hstack((X_test_red3,X_test_red3**2))
print(X_red_test3.shape)

(28000, 300)

In [124]:
y_test_pred3=lr.predict(X_red_test3)
y_test_pred3.shape=(28000,1)
print(y_test_pred3.shape)

(28000, 1)

In [125]:
ans4=np.hstack((imageid,y_test_pred3))
ans4=pd.DataFrame(ans4,columns=['ImageId','Label'])
ans4['ImageId']=ans4['ImageId'].astype(int)
ans4['Label']=ans4['Label'].astype(int)
ans4.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [126]:
ans4.to_csv("pred_logis_pca_150_feat.csv",index=False)           #got 89.728 accuracy with 150