# SVM ON MNIST DATA

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.decomposition import PCA

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
train.head(6)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X=train.iloc[:,1:].values
y=train.iloc[:,0].values
X_test=test.iloc[:,:].values

X=X/255
X_test=X_test/255

X_train,X_cross,y_train,y_cross=train_test_split(X,y,test_size=0.1,random_state=42)

print(X_train.shape,y_train.shape,X_cross.shape,y_cross.shape)

(37800, 784) (37800,) (4200, 784) (4200,)

In [4]:
vm=SVC(kernel='rbf',random_state=42)

In [36]:
pca=PCA(n_components=40)
pca.fit(X_train)

PCA(copy=True, iterated_power='auto', n_components=40, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [38]:
x=pca.explained_variance_ratio_.cumsum()
k=40
print(x[k-1])

0.787288246901

In [39]:
X_train_red=pca.transform(X_train)
X_cross_red=pca.transform(X_cross)
X_test_red=pca.transform(X_test)
print(X_train_red.shape,X_cross_red.shape,X_test_red.shape)

(37800, 40) (4200, 40) (28000, 40)

In [40]:
vm.fit(X_train_red,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=42, shrinking=True,
  tol=0.001, verbose=False)

In [41]:
print(vm.score(X_train_red,y_train))
print(vm.score(X_cross_red,y_cross))

0.989788359788
0.977142857143

In [42]:
y_pred=vm.predict(X_test_red)
print(y_pred.shape)

(28000,)

In [43]:
imageid=np.linspace(1,28000,28000).astype(int)
print(imageid,imageid.shape,type(imageid))

[    1     2     3 ..., 27998 27999 28000] (28000,) <class 'numpy.ndarray'>

In [44]:
ans=pd.DataFrame({
    "ImageId":imageid,
    "Label":y_pred
})
ans.head(10)

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3
5        6      7
6        7      0
7        8      3
8        9      0
9       10      3

In [45]:
ans.to_csv("SVM.csv",index=False)                # got 97. accuracy.
print("Done")

Done